version: '3.1'

services:

  wordpress:
    image: wordpress
    restart: always
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: database
      WORDPRESS_DB_USER: user
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_DB_NAME: wordpress-nextjs
      WORDPRESS_DEBUG: 1
    volumes:
      - wordpress:/var/www/html
      - ./wordpress-nextjs:/var/www/html/wp-content/plugins/wordpress-nextjs:rw

  database:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: wordpress-nextjs
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - database:/var/lib/mysql

volumes:
  wordpress:
  database:
